*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --ocean-blue: #1E90FF;
    --leaf-green: #32CD32;
    --stone-grey: #708090;
    --sunflower-yellow: #FFD700;
    --blossom-pink: #FFB6C1;
    --earth-brown: #8B4513;
    --forest-green: #228B22;
}
body{   
    background: #708090;
    font-family: Arial, sans-serif;
}

.Header {
    background-image: url('/images/backgound1.png'); /* Corrected the image path */
    height: 100vh; /* Set a height for the background div */
    width: 100%;
    background-size: cover; /* Ensure the background covers the div properly */ 
    background-position: center;
    background-attachment: fixed;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Black transparent overlay */
    z-index: 1; /* Keep it behind the text */
}
nav{
    background-color: black;
    position:relative;
    width: 100%;
    height: 8vh;
    text-align: center;
    z-index: 10;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(11, 151, 255, 0.3);
}
li{
    display: inline;
}
nav button.loginbtn{
    background-color: #ffffff;
    float: right;
    margin-right: 3vw;
    padding: 6px 20px;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
}
nav button.loginbtn:hover{
    background-color: #E6E6FA;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 3vw;
    font-size: 1.2em;
    font-weight: 500;
}
a:hover{
    color: #FFD700;
    transition: 0.5s;
}
ul{
    margin-top: 3vh;
}
.contact-box {
    position: relative; /* Set a position context for z-index to work */
    width: 30vw;
    height: 20vh;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -150%); /* Center the slogan box */
    text-align: center;
    z-index: 10; /* Ensures the form is layered above other elements */
}

.input-group {
    display: flex; /* Align items in a row */
    align-items: center; /* Vertically center the label and input */
    margin-bottom: 15px;
}

.input-group label {
    width: 100px; /* Give label a fixed width */
    font-weight: bold;
    color: wheat;
}

.input-group input {
    flex: 1; /* Allow the input to take up remaining space */
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.contact-box input[type="submit"] {
    background-color: #1e8fff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-box input[type="submit"]:hover {
    background-color: #0056b3;
}
.contact-box h1{
    color: white;
}